[Service]
ExecStart=/usr/bin/python3 /home/wuihee/Desktop/bike-sensor/tof_sensor/raspberry_pi/main.py
User=wuihee

[Install]
WantedBy=multi-user.target
